*.pro.user*
*.o
ui_*
moc_*
qrc_*
Makefile
OpenRGB-x86_64.AppImage
.qmake.stash
.vscode
build
/private/
OpenRGBEffectsPlugin.json
__pycache__/
Ship
libORGBEffectPlugin.so*
*.qm
_intermediate_release/
release/
OpenRGBEffectsPlugin Windows 32-bit/
OpenRGBEffectsPlugin Windows 64-bit/
